body{
    margin: 0;
}

.container{
    display: flex;
}

.body{
    display: flex;
    background-color: burlywood;
    min-width: 100vw;
    flex-wrap: wrap;
}

.sidebar{
    min-height: 100vh;
    padding: 10px;
    background-color: lightblue;
    border-right: black solid 1px;
}

.card{
    margin: 10px 0 0 10px;
    border: black solid 1px;
    height: max-content;
    width: max-content;
    padding: 10px;
    white-space: pre-wrap;
    background-color: white;
}

.button{
    margin-top: 10px;
}